body{
    
    margin-top: 5rem;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100vh; 
    text-align: center;width: 100%;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    margin: 40;
    
}
.weatherfrom{

    margin: 30px;
}
.cityInput{
    padding: 10px;
    border: 2px ;
    margin: 20px;
    width: 300 px;
    border: none;
    border-radius: 5px;
}
button[type="submit"]{
    padding: 10px;
    font-weight: bold;
    background-color: cornflowerblue;
    border: none;
    border-radius: 5px;

    
}
button[type="submit"]:hover{
    background-color: lightsalmon;
}
.card{

    background: linear-gradient(180deg ,lightsalmon,skyblue);
    padding: 50px;
    box-shadow: transparent;
    min-width: 300px;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
h1{
    font-size: large;
    margin-bottom: 30px;
    margin-top: 0px;
    
    font-family: helvetica;
}
p{
    font-size: 1.1rem;
}
.cityDis,.TempDis{

    font-size: 2.5rem;
    font-weight: bold;
}
.humidityDis{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDis{
    font-style: italic;
    font-weight: bold;
    font-size: 2 rem;
}
.emoji{
    font-size: 6rem;
    margin: 0%;
    
}
.errorDisplay{

    font-size: 1rem;
    color: rgb(44, 18, 88);
    font-style: italic;
}

