html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}
body{
    padding-top: 100px;
    /* margin-top: 5rem; */
    display: flex;
    flex-direction: column;  
    align-items: center; 
    height: 100vh; 
    text-align: center;width: 100%;
    align-content: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background:linear-gradient(180deg ,	#75b4e3,#54416d);
    /* margin: 40; */
    
}
.topnav{
    display: flex;
    flex-direction: row;
    text-align: center;
    position: fixed; 
    top: 0;
    width: 100%;
    align-items: center; 
    height: 10vh; 
    padding: 10px 20px;
    background-color: #31255a !important;
    color:#8fe0ff;
}
.topnav a {
    height: 10vh;
   
    font-size: x-large;
    margin-right: 50px;
    margin-left: auto;
    padding: 10px 20px 10px;
    background-color: #2b235a;
    color: #a7d7ea;
}
.weatherfrom{

    margin: 30px;
}
.cityInput{
    padding: 10px;
    border: 2px ;
    margin: 20px;
    width: 300 px;
    border: none;
    border-radius: 5px;
}
button[type="submit"]{
    padding: 10px;
    font-weight: bold;
    background-color: rgb(31, 34, 40);
    border: none;
    border-radius: 5px;

    
}
button[type="submit"]:hover{
    background-color: lightsalmon;
}
.card{
    max-width: 300px;   
    background: linear-gradient(180deg ,rgb(175, 164, 160),skyblue);
    padding: 50px;
    display: flex;
    box-shadow: transparent;
    min-width: 300px;
    max-height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    align-self: center;
}
h1{
    font-size: medium;
    margin-bottom: 20px;
    margin-top: 0px;
    
    font-family: helvetica;
}
p{
    font-size: 1.1rem;
}
.cityDis,.TempDis{

    font-size: 1.5rem;
    font-weight: bold;
}
.humidityDis{
    font-weight: bold;
    margin-bottom: 25px;
}
.descDis{
    font-style: italic;
    font-weight: bold;
    font-size: 2 rem;
}
.emoji{
    font-size: 4rem;
    margin: 0%;
    
}
.errorDisplay{

    font-size: 1rem;
    color: rgb(44, 18, 88);
    font-style: italic;
}



body.cold {
  background: linear-gradient(to bottom, #1e3c72, #2a5298); /* Blue cold */
}

body.mild {
  background: linear-gradient(to bottom, #f7b733, #fc4a1a); /* Orange warm */
}

body.hot {
  background: linear-gradient(to bottom, #ff512f, #dd2476); /* Red hot */
}